- data.schedule.partition{|s| s.day == 1 }.each do |day|
  %h1 Day #{day.first.day}
  %ol
    - day.each do |slot|
      - if slot.speaker
        - speaker = data.speakers.find {|s| s.id == slot.speaker}
        - talk = speaker.send(lang)
        %a.popup{href: "##{slot.speaker}_schedule"}
          %li
            .when
              %h1=slot.time
            .what
              %img{src: speaker.image , alt: speaker.name}
              .talk
                %h1= speaker.name
                %h2= talk.title
          %hr
          %div{id: "#{slot.speaker}_schedule", class: 'mfp-hide'}
            .when
              %h1=slot.time
            .what
              %img{src: speaker.image , alt: speaker.name}
              .talk
                %h1= speaker.name
                %h2= talk.title
                .abstract= talk.abstract
      - else
        %li
          .when
            %h1=slot.time
          .what
            %p= slot.description
