- data.schedule.partition{|s| s.day == 1 }.each do |day|
  %h1 Day #{day.first.day}
  %ol
    - day.each do |slot|
      - if slot.speaker
        - speaker = data.speakers.find {|s| s.id == slot.speaker}
        - talk = speaker.send(lang)
        %li
          .when
            %h1=slot.time
          .what
            .talk
              %h1= speaker.name
              %h2= talk.title
              .abstract= talk.abstract
      - else
        %li
          .when
            %h1=slot.time
          .what
            %p= slot.description
