%li#geerlinger>
  .main-info>
    %h3 Stepahanie Geerlings
    %h4 Cloud City Development
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#geerlinger"}
          %h5
            %small Ruby + RaspberryPi + That 
            %br
            Was Not What I Expected
        .links
          %a{:href=>"https://twitter.com/geerlinger", :target=>"_blank"}
            %i.fa.fa-twitter
          %a{:href=>"https://github.com/stf", :target=>"_blank"}
            %i.fa.fa-github         

      %img{:src=>'images/speakers/geerlinger.jpg', :alt=>"Stepahanie Geerlings"}

  .details>
    %a.share{:href=>"speakers_#{lang}.html#geerlinger"}
    .abstract
      %h2 Ruby + RaspberryPi + That Was Not What I Expected
      %p The RaspberryPi is a small, affordable computer that you can use for your Internet of Things projects. It's incredibly simple to use if you have a basic understanding of circuits and how computers work. I'll give an overview on how to set up a project with resources for the fundamental steps along the way. 

      %p I'd like to show my journey into setting up a light sensor that became an increasingly dense project as I went along. Show the trouble of thinking something worked one way and finding out it worked a completely different way. Converting analogue to digital and other frankenstein-ing of hardware, sensors, and microchips. 

      %p If the talk is accepted the format will be as follows: 

      %ol
        %li Basics of RaspberryPi, OS, and components
        %li How Ruby interfaces with everything
        %li How to do the research for types of sensors and components that you will need. 
        %li Wrap up with questions and give away 2 RaspberryPis. One to grea question. One to great project idea. 

      %p The goal is to show that the RaspberryPi is a hands-on model for computing that is educational, powerful, and fun.

    .bio
      %h2 Bio
      %p I am the General Manager of Cloud City Development. I have ten years of experience bringing quality digital products to life. My focus is on how well design and development works together for the good of the end-user and company goals. I've created and worked alongside many successful startups including 12 Spokes, CrowdFlower, Gengo, and Kanjiru. I believe design is both an art and science. My specialties include product design, LeanUX, agile, customer development, and hardware hacking.

%li#hannelita>
  .main-info>
    %h3 Hanneli Tavante
    %h4 Codeminer 42
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#hannelita"}
          %h5
            %small Our daily graphs written
            %br
            in Ruby and Neo4j 
        .links
          %a{:href=>"https://twitter.com/hannelita", :target=>"_blank"}
            %i.fa.fa-twitter
          %a{:href=>"https://github.com/hannelita", :target=>"_blank"}
            %i.fa.fa-github
      %img{:src=>'images/speakers/hannelita.jpg', :alt=>"Hanneli Tavante"}


  .details>
    %a.share{:href=>"speakers_#{lang}.html#hannelita"}
    .abstract
      %h2 Our daily graphs written in Ruby and Neo4j 
      %p Have you ever noticed that so many situations could it into a graph? Graphs are not only a boring subject into College, they can be really useful in many situations. This talk will show you some graph modelling with a nice graph database - Neo4j - and some ruby codes, inserting very creative scenarios inside graphs.

    .bio
      %h2 Bio
      %p Hanneli (a.k.a. @hannelita) is a developer working at Codeminer 42, addicted to code, learn new programming languages, frameworks, blow capacitors, do some C programming to relax and commit useful (or unuseful) code for random Open Source Projects that she finds at Github. She met JBoss products into 2009 and since then she tries to help the community with her blog, http://hannelita.wordpress.com

      %p She also likes coffee, specially the ones from Starbucks.

%li#kitopastorino>
  .main-info>
    %h3 Esteban Pastorino
    %h4 Jingle Punks
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#kitopastorino"}
          %h5
            Angular on Cuba 
            %br
            (Workshop)
          .links
            %a{:href=>"https://twitter.com/kitopastorino", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/kitop", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/kitopastorino.jpg', :alt=>"Esteban Pastorino"}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#kitopastorino"}
    .abstract
      %h2 Angular on Cuba 
      %p En los últimos años aparecieron frameworks MVC front-end como Backbone, Angular, Ember, y otros más. Estos frameworks tuvieron un crecimiento enorme, no hay un solo día que no salga un artículo sobre ellos y sin embargo existen muchos programadores Ruby que todavía no saben por donde arrancar ni para que casos utilizarlos.

      %p En este workshop pretendemos hacer un repaso sobre los principales frameworks, sus ventajas y desventajas, las diferencias de concepto con el MVC de Rails y mostraremos a través de un caso concreto como estos frameworks pueden llevar la experiencia del usuario al siguiente nivel.

      %p A diferencia de otras guías que eligen como ejemplo aplicaciones inherementente dinámicas y complejas como un music player, feed reader, task manager o to-do list, nosotros elegimos un blog. Un blog es una aplicación trivial que se suele utilizar en muchas guías de Ruby on Rails; sin embargo, mostraremos como a través de estos frontend frameworks podemos mejorar muchísimo la interfaz y la interacción con el usuario. Mejoras de interfaz desde el formulario de sign up hasta validaciones client side en la carga de contenido.

      %p En este workshop utilizaremos Cuba para crear una REST API para servir a la aplicación frontend y persistir los objetos, y Angular como frontend framework. Los participantes de este workshop van a poder descargar un repositorio de Github con la configuración básica necesaria y terminaran desarrollando este blog en Angular on Cuba.
    .bio
      %h2 Bio
      %p Esteban, también conocido como Kito, es programador, músico, amante del buen café y actualmente vive en Nueva York. La curiosidad y la necesidad de resolver problemas son sus grandes fuertes y le permitieron aprender desde programación a electrónica y hasta marketing. Ruby fue su primer y gran amor y ya lleva muchos años de experiencia. Trabajó en empresas como MercadoLibre, Despegar y Sumavisos. Realizó varios emprendimientos propios y hoy en día es el primer programador "importado" de Jingle Punks, empresa basada en NY relacionada con la música.


%li#jgnatch>
  .main-info>
    %h3 Ignacio Gutierrez
    %h4 Sketch Consulting
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#jgnatch"}
          %h5 
            Angular on Cuba 
            %br
            (Workshop)
          .links
            %a{:href=>"https://twitter.com/jgnatch", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/jgnatch", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/jgnatch.jpg', :alt=>"Ignacio Gutierrez"}

  .details>
    %a.share{:href=>"speakers_#{lang}.html#jgnatch"}
    .abstract
      %h2 Angular on Cuba 
      %p En los últimos años aparecieron frameworks MVC front-end como Backbone, Angular, Ember, y otros más. Estos frameworks tuvieron un crecimiento enorme, no hay un solo día que no salga un artículo sobre ellos y sin embargo existen muchos programadores Ruby que todavía no saben por donde arrancar ni para que casos utilizarlos.

      %p En este workshop pretendemos hacer un repaso sobre los principales frameworks, sus ventajas y desventajas, las diferencias de concepto con el MVC de Rails y mostraremos a través de un caso concreto como estos frameworks pueden llevar la experiencia del usuario al siguiente nivel.

      %p A diferencia de otras guías que eligen como ejemplo aplicaciones inherementente dinámicas y complejas como un music player, feed reader, task manager o to-do list, nosotros elegimos un blog. Un blog es una aplicación trivial que se suele utilizar en muchas guías de Ruby on Rails; sin embargo, mostraremos como a través de estos frontend frameworks podemos mejorar muchísimo la interfaz y la interacción con el usuario. Mejoras de interfaz desde el formulario de sign up hasta validaciones client side en la carga de contenido.

      %p En este workshop utilizaremos Cuba para crear una REST API para servir a la aplicación frontend y persistir los objetos, y Angular como frontend framework. Los participantes de este workshop van a poder descargar un repositorio de Github con la configuración básica necesaria y terminaran desarrollando este blog en Angular on Cuba.
    .bio
      %h2 Bio
      Nacho es programador y diseñador. Después de ser diseñador autodidacta y cumplir el rol de diseñador/developer front-end decidió que debía dominar todo el stack de programación. La simpleza y la facilidad de transformar cualquier idea en un producto concreto fue lo que hizo que Ruby se vuelva su principal herramienta. Tras emprender por muchos años Nacho continúa con Vientus, un pequeño emprendimiento unipersonal y al mismo tiempo trabaja como remote developer para Sketch, una pequeña agency basada en UK.



%li#cristianrasch>
  .main-info>
    %h3 Cristian Rasch
    %h4 WeCode
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#cristianrasch"}
          %h5
            A one on one date
            %br
            with vim (Workshop)
          .links
            %a{:href=>"https://twitter.com/cristianrasch", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/cristianrasch", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/cristianrasch.jpg', :alt=>"Cristian Rasch"}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#cristianrasch"}
    .abstract
      %h2 A one on one date with vim
      %p The vim text editor has been around for more than 20 years, so you might have wondered once or twice what's its appeal? How come it's managed to stick around for that many years, despite the changes in languages, frameworks and generally, the tools we developers use every day.

      %p Well, in this 2-hour workshop I plan to take you for a ride with me through some of vim's best features, the ones that make it a superb tool for editing text. We'll start with the basics such as how to move around, perform simple tasks and then gradually, we'll start composing a few more interesting commands, accomplishing more challenging tasks and answering a few critical questions the attendees may have so that they feel encouraged to dig deeper in their understanding of this wonderful tool.

    .bio
      %h2 Bio
      %p I am freelance software engineer and member of the wecode (http://wecode.io) initiative, who works for his American and European clients.

      %p I mostly do Ruby backend work with the occasional Javascript app. I'm also a huge fan of the PostgreSQL database and a vim user as of late.


%li#frodsan>
  .main-info>
    %h3 Francesco Rodríguez
    %h4 Harmoni
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#frodsan"}  
          %h5
            The Guide 
            %br 
            to Cuba
          .links
            %a{:href=>"https://twitter.com/frodsan", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/frodsan", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/frodsan.jpg', :alt=>"Francesco Rodríguez"}
  
  .details>
    %a.share{:href=>"speakers_#{lang}.html#frodsan"}
    .abstract
      %h2 The Guide to Cuba
      %p In this workshop you will learn to build web applications with Cuba. The workshop is intended for anyone who wants to learn to create a web application with Cuba and other minimalistic tools from scratch. Experience with other web frameworks is not required. However, it's recommended to have some basic knowledge of the Ruby programming language.

    .bio
      %h2 Bio
      %p Francesco actively contributes to Open Source and enjoys working with minimalistic tools. He is also writing "The Guide to Cuba", a book about Cuba, the Ruby microframework.

%li#djanowski>
  .main-info>
    %h3 Damián Janowski
    %h4 Educabilia
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#djanowski"}
          %h5 
            Redis: más allá 
            %br
            del caché y las colas 
          .links
            %a{:href=>"https://twitter.com/djanowski", :target=>"_blank"}
              %i.fa.fa-twitter          
            %a{:href=>"https://github.com/djanowski", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/jano.jpg', :alt=>"Damian Janowski"}         
  .details>
    %a.share{:href=>"speakers_#{lang}.html#djanowski"}
    .abstract
      %h2 Redis: más allá del caché y las colas 
      %p Redis nació como un Memcached persistente. Y es por ese pasado sombrío que muchos lo consideran solo una buena alternativa para cachear cosas. Sin embargo, Redis evolucionó rápidamente hacia como se lo conoce hoy en día: un servidor de estructuras de datos.

      %p Redis provee operaciones atómicas sobre tipos de datos primitivos (strings, listas, conjuntos, conjuntos ordenados y hashes) que dan mucha flexibilidad para pensar la mejor manera de guardar los datos de nuestra aplicación. Esto, sumado a otras funcionalidades (como replicación, dos estrategias de persistencia, transacciones y scripting en Lua) hacen que Redis sea una opción muy interesante a la hora de elegir la base de datos para nuestro proyecto.

      %p En esta charla vamos a explorar, a partir de ejemplos, los casos de uso más frecuentes en cualquier aplicación web y cómo se puede usar Redis para resolverlos. También se van a mostrar los pitfalls más comunes y qué estrategias se pueden usar para evitarlos.

    .bio
      %h2 Bio
      %p CTO en Educabilia. Damián es programador desde hace muchos años, pero logró que le empiecen a pagar por ello hace diez. Como la web ya existía, nunca tuvo que programar una aplicación de escritorio. Después de pasos fructíferos por tecnologías de todo color y tendencia política, desde hace 8 años programa principalmente en Ruby. Fue uno de los primeros en adoptar Redis y hoy la usa como única base de datos en Educabilia, el startup que cofundó hace tres años. En su tiempo libre le gustaría empezar a usar Go en producción.

%li#poteland>
  .main-info>   
    %h3 Pote
    %h4 13 Floor
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#poteland"}
          %h5
            The Dilemma 
            %br
            of Simplicity
          .links
            %a{:href=>"https://twitter.com/poteland", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/pote", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/pote.jpg', :alt=>"Pablo Astigarraga"}      
  .details>
    %a.share{:href=>"speakers_#{lang}.html#poteland"}
    .abstract
      %h2 The Dilemma of Simplicity
      %p Over the years we've learned to pay attention to the importance of a number of highly desirable qualities in software: readability, maintainability, adaptation to change. We've accepted these values as good and actively pursue them yet we consistently ignore what is probably the best method of achieving these qualities, it's staring us right in the face now.

      %p Slowly but steadily the philosophy of embracing simplicity in software design by carefully calculating and minimizing unnecessary complexity is gaining traction in our community, and for a good reason: it organically pushes us to the best software practices we all know and love, it both embraces all the core principles the ruby community has developed over the years while rejecting many of the common practices we carry based on inertia but which directly contradict these values.

      %p In this talk I explore my journey on this shift in perspective from certain fragments of our community and how thinking about simplicity as one of our core values can push us to be better developers while producing better quality of software. We don't need our crutches anymore, let's drop them together!
    .bio
      %h2 Bio
      %p pote comes from a Python background writing Asterisk-based VoIP systems, has several years of experience doing Rails/Ruby and has been known to work with Go, Lua or other alternatives when the job permits it, he loves contributing to open source projects, he is one of the authors of the @surculusfructum podcast as well as a member of the [13Floor.org](http://13floor.org) software collective.

      %p Passionate about minimalistic software, Unix philosophy, doing things right, having fun with cool people and using spaces instead of tabs, pote copes with a somewhat unhealthy relationship with moustaches and is always willing to discuss the evils of premature optimisation over a beer.

%li#juliancheal>
  .main-info>
    %h3 Julian Cheal
    %h4 Artolo
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#juliancheal"}
          %h5
            Dancing 
            %br
            with Robots
          .links
            %a{:href=>"https://twitter.com/juliancheal", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{href:"http://github.com/juliancheal"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/juliancheal.jpg', :alt=>"Julian Cheal"}       

  .details>
    %a.share{:href=>"speakers_#{lang}.html#juliancheal"}
    .abstract
      %h2 Dancing with Robots
      %p Web apps are great and everything, but imagine using Ruby to fly drones and make them dance to the sounds of dubstep! Or to control disco lights and other robots! Sounds fun, right? In this talk, we will not only explore how we can write code to make this possible, but it will also be full of exciting, interactive (and possibly dangerous ;) ) demos!
    .bio
      %h2 Bio
      %p A British Ruby/Rails developer, with a penchant for tweed, fine coffee, and homebrewing. When not working for clients, I help organise fun events around the world that teach people to program flying robots. Have committed to various open source robotics frameworks including: Artoo.io, Cylon.js, and Gobot.io

      %p By bringing a variety of hardware to this talk, we'll see what fun a developer can have with very little hardware knowledge and minimal code.
      
      %p Hardware used in this talk will include (but not limited to):

      %ol 
        %li AR.Drone
        %li Sphero
        %li Pebble
        %li Raspberry Pi
        %li Spark Core
        %li Leap Motion
        %li PS3 game pad
        %li PS3 Dance mat

      %p We will use Artoo.io in the code examples, but this talk is about celebrating the combination of Ruby and Robots, not about promoting a specific framework.

%li#chrishunt>
  .main-info>
    %h3 Chris Hunt
    %h4 Github
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#chrishunt"}
          %h5 
            Solving the Rubik’s 
            %br
            Cube Blindfolded
          .links
            %a{:href=>"https://twitter.com/chrishunt", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/chrishunt", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/chrishunt.jpg', :alt=>"Chris Hunt"}

  .details>
    %a.share{:href=>"speakers_#{lang}.html#chrishunt"}
    .abstract
      %h2 Solving the Rubik’s Cube Blindfolded
      %p You think solving a Rubik’s Cube is difficult? Imagine scrambling it, memorizing it, and solving it with your eyes closed.

      %p In this two part talk, we are going to combine techniques mastered by professional speedcubers and memory athletes to learn how to solve the Rubik’s Cube blindfolded.

      %p This is not just a party trick. You will leave RubyConf Argentina with a greater appreciation for the Rubik’s Cube and the ability to memorize anything in the world.

    .bio
      %h2 Bio
      %p Chris Hunt works for GitHub from a standing desk in Portland, Oregon. Prior to GitHub, Chris worked on Rails applications for Square, Apple, the Department of Defense, and his very critical mother.  When he's not writing Ruby, he's probably looking over your shoulder trying to learn something new.

%li#a_meba>
  .main-info>
    %h3 Marta Paciorkowska
    %h4 
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#a_meba"}
          %h5 
            Programming, 
            %br
            languages, literature
          .links
            %a{:href=>"https://twitter.com/a_meba", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/xamebax", :target=>"_blank"}
              %i.fa.fa-github
      
      %img{:src=>'images/speakers/marta-paciorkowska.jpg', :alt=>"Marta Paciorkowska"}

  .details>
    %a.share{:href=>"speakers_#{lang}.html#a_meba"}
    .abstract
      %h2 Programming, languages, literature
      %p More to come. 
    .bio
      %h2 Bio
      %p  Marta developed a love for literature and computers roughly at the same time in her life: She wrote poetry and coded in Logo in primary school, learned C in high school, studied American literature and created websites while at university. Now she work as a software engineer in Three of Coins (http://3ofcoins.net). Constantly on the border of these two worlds, she tries to look for ways to bring them together.


%li#moonbeamlabs>
  .main-info>
    %h3 Lucas Dohmen
    %h4 ArangoDB
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#moonbeamlabs"}
          %h5 
            ArangoDB
            %br
            %small A different approach to NoSQL
          .links
            %a{:href=>"https://twitter.com/moonbeamlabs", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/moonglum", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/lucas-dohem.jpg', :alt=>"Lucas Dohmen"}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#moonbeamlabs"}
    .abstract
      %h2 ArangoDB, A different approach to NoSQL
      %p ArangoDB is an open source NoSQL database which is not narrow-mindedly focused on horizontal scalability. Instead, ArangoDB aims to offer developers great flexibility and ease-of-use. The database is suitable for use cases which are difficult to implement with most traditional relational databases and also many of the other NoSQL databases.  Foxx is a JavaScript framework built-into ArangoDB that allows to extend the REST API of the database. I will show you why this is interesting and how you can use it in your apps.
    .bio
      %h2 Bio
      %p I’m a member of the core team of the NoSQL database project ArangoDB where I work on the graph functionality, tools for the Ruby community to use the database and Foxx. Furthermore I contribute to various open source projects like hacken.in (an event calender for nerds in Cologne, Berlin and Munich) and projects related to ArangoDB. You can find me listening or speaking at our local usergroups for Ruby, JavaScript, NoSQL and (as a coach for) Rails Girls and Coder Dojo.

%li#egutter>
  .main-info>
    %h3 Emilio Gutter
    %h4 10Pines
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#egutter"}
          %h5 
            %small The Ten Commandments of
            %br
            the Ruby Programmer
          .links
            %a{:href=>"https://twitter.com/egutter", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/egutter", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/emilio-gutter.jpg', :alt=>"Emilio Gutter"}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#egutter"}
    .abstract
      %h2 The Ten Commandments of the Ruby Programmer
      %p More than 3000 years later Moses received the ten commandments from God, on a hard day's night of endless work, struggling with a legacy, untested, big-ball-of-mud, spaghetti Ruby code, after liters of coffee, dozens of beers, a few shots of tequila and a fine glass of single malt scotch, close to a point of desperation, almost ready to give up his task, Emilio received an unexpected visitor. God himself appeared on the screen of his computer, took control of the machine and with a raspy, guttural voice said: "Emilio, you are the chosen one. You shall open the red sea of rubies and illuminate the flock of Ruby sinners with The Ten Commandments of the Ruby Programmer:"

      %p The Ten Commandments are:

      %ol
        %li I am Emilio thy shepherd and Ruby developer (we all need to present ourselves, don't we?)
        %li Thou shalt have no domain objects coupled with thy frameworks
        %li No graven habits
        %li Not take thy tests in vain
        %li Remember to refactor every day
        %li Challenge [Ruby|Rails|TBD] father and mother and any other self-proclaimed industry guru
        %li Thou shalt not stub
        %li Thou shalt not use nil
        %li Thou shalt not use if
        %li Thou shalt not steal & paste code all over your program
        %li Thou shalt bear your fellow programmers and pair with them

      %p Emilio received the commandments with joy and promised God to spread his word. Then, as the night was long and God had no hurry, they played a few hands of Poker. Emilio won and asked God to promise he will get him a talked accepted at the RubyConf this year. In his wisdom God answered: "Hey, I am just God dude. If you want miracles ask the Pope"

    .bio
      %h2 Bio
      %p Emilio is co-founder of 10Pines, a boutique software company located in Buenos Aires. He is a founder member of Agiles latin-american community and he has been the co-chair of Agiles2012 conference held in Cordoba, Argentina.
      %p He has been working in software development for more than 15 years in several countries including Argentina; Brazil; United Kingdom; United States; France; Romania and Bulgaria. He has performed as software developer; project leader and agile coach with experience in different industries such as credit services; media & entertainment; advertising; travel & leisure; health care; among others.

%li#xymbol>
  .main-info>
    %h3 Adrián Mugnolo
    %h4 Wye Works
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#xymbol"}
          %h5
            What makes Ruby, 
            %br
            Ruby?
          
          .links
            %a{:href=>"https://twitter.com/xymbol", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/xymbol", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/adrian-mugnolo.jpg', :alt=>"Adrián Mugnolo"}

  .details>
    %a.share{:href=>"speakers_#{lang}.html#xymbol"}
    .abstract
      %h2 What makes Ruby, Ruby?
      %p Throughout two decades and over 100 releases, the Ruby language has evolved and grown around simple ideas and elegant constructs whose principles have changed surprisingly little.

      %p But, a deeper study of Ruby's history and codebase will uncover some curious detours and dead ends: syntax and features which were either revised or abandoned. An examination of these changes and, the reasons behind them, can serve both to entertain and inform. In this talk we'll visit some of Ruby's features, what remains in Ruby and what was left out and, in the process, gain a unique insight into what makes today's Ruby, Ruby.

      %p These are some of the Ruby concepts that will be presented in this talk:

      %ol
        %li Constants and their lookup
        %li Variable scope, self and bindings
        %li Method parameters and super
        %li Callable objects

      %p Each topic will be introduced with easy to follow code examples. Once described, we will investigate their availability across 20 years of Ruby versions, eventually trying to elucidate the motivations for these changes. The talk will target Rubyists of all skill levels.

    .bio
      %h2 Bio
      %p Adrián got his start programming in C and Perl in the early days of the Web, but has been working primarily with Ruby since 2005. He has been quietly influencing the Web in Argentina for the better part of the past 18 years: he implemented the first search engines for Clarín and La Nación, and was the former Technical Director of Yahoo Argentina since its launch. Adrián is now a Ruby developer at WyeWorks.

      %p A lifelong technology enthusiast with a background in mechanical engineering, Adrián is just as comfortable coding Ruby and JavaScript as he is hacking motorcycle engines or tuning the perfect snowboarding setup.

%li#paulcsmith>
  .main-info>
    %h3 Paul Smith
    %h4 Thoughtbot
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#paulcsmith"}
          %h5
            Derailing
            %br
            Irrationality
        
          .links
            %a{:href=>"https://twitter.com/paulcsmith", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/paulcsmith", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/paulcsmith.jpg', :alt=>"Paul Smith"}
    
  .details>
    %a.share{:href=>"speakers_#{lang}.html#paulcsmith"}
    .abstract
      %h2 Derailing Irrationality
      %p Cognitive biases enable faster decisions when timeliness is more valuable than accuracy. They are very hard to detect and rarely discussed. Without realizing it we ask survey questions of our customers and clients that yield biased answers, which in turn lead to features that are not useful. We review code in ways that cause frustration, and hurt feelings. We take on technical debt because of invisible and nearly imperceptible forces in our minds that cause us to make irrational decisions. This talk will help developers to understand how to think rationally in order to act quickly, write better software and be happier while doing it.

      %p In the presentation we will talk about the current moment bias, the fairness bias, impostor syndrome, the IKEA effect, the diagnosis bias, the principle of reactance and how these effects become formidable enemies on the way to creating cohesive teams and simple software. We will learn how to recognize when these biases take effect and how to overcome them.

      %p By the end of this talk people will know:
      %ol
        %li How to review code and have your code reviewed without hurting feelings and maintaining maximum collaboration.
        %li How to ask questions in such a way that we do not implement code that is not needed.
        %li How to recognize and become aware of the effects of biases in your life, and how to manage them.
        %li How to resist the cognitive biases that lead us to take on technical debt and build features people will not use.
        %li How common biases make you feel that you are powerless and less creative at work than you would like to be (and how to help yourself and others overcome these biases).
        %li Signs that a bias is causing you to act irrationally.

    .bio
      %h2 Bio
      %p I’m Paul Smith. I currently work for thoughtbot in Boston, MA and have been working with Rails applications for about 7 years. I lived in Argentina for 2 years and learned to speak Spanish while I was living there. I am well practiced in speaking to large groups of people in English and Spanish.

      %p I love studying the mind. Behavioral economics, cognitive biases and heuristics. The study of behaviors and cognitive biases has helped me better understand how to create simpler software and work more effectively with clients and coworkers.

%li#noeliacabane>
  .main-info>
    %h3 Marina Noelia Cabane
    %h4 Restorando
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#noeliacabane"}
          %h5 
            The path to modular
            %br
            UI (workshop)
          
          .links
            %a{:href=>"https://twitter.com/noeliacabane", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/noeliacabane", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/noeliacabane.jpg', :alt=>"Marina Noelia Cabane"}
    
  .details>
    %a.share{:href=>"speakers_#{lang}.html#noeliacabane"}
    .abstract
      %h2 The path to modular UI (workshop)
      %p Propongo hacer un taller de refactor de arquitectura de CSS (SASS/LESS) en una app hecha en Ruby. Orientando a los participantes acerca de técnicas de modulación de CSS para crear UI simple, reusable y escalable.
    
    .bio
      %h2 Bio
      %p Noelia es una diseñadora gráfica de la Universidad de Buenos Aires, que empezó diseñando para imprenta hasta descubrir su pasión por el diseño centrado en el usuario y la creación de sitios. Como Product Designer en Restorando, trabaja en el diseño de las aplicaciones mobiles, el sitio público y las herramientas para los restaurantes, es ahi donde descubrió el potencial de Sass combinado con CSS orientado a objetos.
      %p Además Noelia es organizadora de Rails Girls en Buenos Aires.


%li#jbarreneche>
  .main-info>
    %h3 Juan Barreneche
    %h4 Restorando
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#jbarreneche"}
          %h5
            Data analysis
            %br
            for startups
          .links
            %a{:href=>"https://twitter.com/jbarreneche", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/jbarreneche", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/jbarreneche.jpg', :alt=>""}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#jbarreneche"}
    .abstract
      %h2 Data analysis for startups
      %p TBA
    .bio
      %h2 Bio
      %p Soy estudiante de Ingeniería en Informática de la UBA cerca de recibirme (actualmente escribiendo la tesis final). Trabajo en sistemas desde hace casi 10 años, comencé con COBOL, pasé por Java hasta que llegué a ruby.
      %p Actualmente estoy trabajando en Restorando.

%li#tutec>
  .main-info>
    %h3 Tute Costa
    %h4 Thoughtbot
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#tutec"}
          %h5 
            5 simple steps
            %br
            (Workshop)
          
          .links
            %a{:href=>"https://twitter.com/tutec", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/tute", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/tutec.jpg', :alt=>""}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#tutec"}
    .abstract
      %h2.rfd No vas a creer cómo simplificamos esta masa de código en 5 sencillos pasos.
      %p En este taller haremos que código complejo y acoplado se transforme en más simple, legible y mantenible, y aprenderemos los pasos para lograrlo una y otra vez.

      %p Trabajaremos sobre anomalías recurrentes en software sobre código y tests extraídos de proyectos reales, usando los Patrones de Refactorización:

      %ol
        %li Método que revela la Intención
        %li Objectos de Caso Especial (y Nulo)
        %li Reemplazar método por Objeto Método
        %li Objetos Servicio

      %p Estas recetas tienen un alcance acotado, que asegura mantenernos lejos de un commit del tipo “reescribí todo no-vean-el-historial-de-cambios”, al tiempo que logramos mejoras de diseño muy concretas.

      %p Discutiremos soluciones para “Objetos Dios (God Objects)”, “Modelos Gordos (Fat Models)”, cadenas largas de llamadas a métodos (`user.friends.first.profile.address.street.WAT`), NoMethodError's, métodos gigantescos, cómo nombrar las cosas, y cómo mantener un mate sano por un termo (o más!).

      %p Los ejemplos serán en Ruby, válidos para cualquier proyecto o framework, y lo tratado es aplicable además a cualquier lenguaje orientado a objetos.

    .bio
      %h2 Bio
      %p Tute Costa trabajó en Startup Chile (chefsurfing.com) en 2012, en General Assembly en 2013, y en thoughtbot desde 2014. Mantiene las gemas merit y doorkeeper. Escribió un mashup para saber qué lo rodea cuando viaja, http://dynamicatlas.herokuapp.com/. Empezó programando en PHP, agregó Ruby en 2007, y desde 2013 programa aplicaciones en Javascript. Ama compartir asados, hacer deportes, andar por montañas y ver jazz.

%li#pbruna>
  .main-info>
    %h3 Patricio Bruna
    %h4 ITLinux
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#pbruna"}
          %h5 
            De desarrollo a 
            %br
            producción con Docker
          
          .links
            %a{:href=>"https://twitter.com/pbruna", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/pbruna", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/pbruna.jpg', :alt=>"Patricio Bruna"}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#pbruna"}
    .abstract
      %h2 De desarrollo a producción con Docker
      %p En esta charla pretendo enseñar de forma practica como Docker puede ayudarnos a mejorar la experiencia de desarrollo de aplicaciones Rails y como podemos olvidarnos de los problemas de tener plataformas distintas en Desarrollo y Producción.

      %p También revisaremos como podemos escalar automagicamente nuestra aplicación cuando logremos el éxito y la fama.
    .bio
      %h2 Bio
      %p Soy uno de los socios de ITLinux, empresa con cerca de 10 años de experiencia en proyectos de software libre.

      %p Hace 3 años comenzó mi interés por Ruby al utilizar Rails para desarrollar nuestra aplicación de contabilidad al no encontrar ninguna que acercara a nosotros.

      %p Hoy en ITLijux seguimos en el sendero de servicios de infraestructura con software Open Source pero además lo acompañamos de desarrollos propios para mejorar la administración de estas plataformas.

%li#janogonzalez>
  .main-info>
    %h3 Jano González
    %h4 SoundCloud
    .img
      .overlay
        %a.share{:href=>"speakers_#{lang}.html#janogonzalez"}
          %h5 
            Microservicios 
            %br
            en la práctica

          .links
            %a{:href=>"https://twitter.com/janogonzalez", :target=>"_blank"}
              %i.fa.fa-twitter
            %a{:href=>"https://github.com/janogonzalez", :target=>"_blank"}
              %i.fa.fa-github
      %img{:src=>'images/speakers/janogonzalez.jpg', :alt=>"Jano González"}
  .details>
    %a.share{:href=>"speakers_#{lang}.html#janogonzalez"}
    .abstract
      %h2 Microservicios en la práctica
      %p ¿Son los microservicios otra "buzzword" más? En esta charla conocerás los pro y los contra de este enfoque, los problemas resuelve y qué nuevos problemas crea, todo desde el punto de vista de un equipo que extrae servicios desde una aplicación monolítica en su día a día.

      %p Durante los últimos 6 meses he sido parte del equipo que está extrayendo servicios del "monoriel" de SoundCloud, creo que vale la pena compartir mis experiencias y que no hemos tenido tantas charlas de arquitectura en las últimas conferencias del Cono Sur.

      %p Algunos de los temas a tocar:
      %ol
        %li Cómo el uso real de la aplicación influye en las decisiones de arquitectura.
        %li Nuestras categorías de servicios: servicios de entidades, servicios de listado y servicios de filtrado.
        %li Propagación de cambios en entidades hacia otros servicios y problemas de consistencia.
        %li Proceso rollout de nuevos servicios.

    .bio
      %h2 Bio
      %p Programador, músico amateur y fanático de las conferencias. Aunque se considera agnóstico en temas de tecnología, Ruby ocupa un lugar especial en su corazón. Recientemente se mudó de su Chile natal a Alemania, para trabajar en SoundCloud.
